/* ============================================== 
  Media Query : 1400px
============================================== */
@media only screen and (max-width:1400px) {

    .header-navbar {
        .navbar-main-menu {
            .nav-item {
                .nav-link {
                    padding: 25px 20px;
                }
            }
        }
    }







}



/* ============================================== 
  Media Query : 1200px
============================================== */
@media only screen and (max-width:1200px) {
    .header-navbar {
        .navbar-collapse {
            position: absolute;
            left: 0px;
            right: 0px;
            top: 100%;
            background-color: $light;

            .navbar-main-menu {
                .nav-item {
                    .nav-link {
                        padding: 12px 20px;
                    }
                }
            }
        }
    }
.navbar-bottom-menu{
   li{
      a{
         padding:10px 25px !important; 
      }
   }
}

}




/* ============================================== 
  Media Query : 991px
============================================== */
@media only screen and (max-width: 991px) {

  .header-navbar{
    .navbar-collapse{
       .navbar-main-menu {
        .nav-item {
          .nav-link {
              padding: 3px 20px;
          }
        }
       }
    }
  }
   .author-profile-responsive{
      overflow: auto;
      -webkit-overflow-scrolling: touch;
  .author-profile-w{
      width:800px;
  }
}
.timeline-break-line{
    &:before{
         display: none;
    }
}
.form-container{
    height: auto;
}
.main-content-area{
  .main-wrapper {
    padding: 0 0;
}
}


}


/* ============================================== 
  Media Query : 767px
============================================== */
@media only screen and (max-width: 767px) {
  .author-profile-responsive{
  .author-profile-w{
      width:600px;
  }
}
.search-form{
  display: block;
  input{
  display: block;
    width: 100% !important;
    margin-bottom: 20px;
}
}


}




/* ============================================== 
  Media Query : 575px
============================================== */
@media only screen and (max-width: 575px) {
h1{
   font-size: 1.8rem;
}
h2{
   font-size: 1.6rem;
}

h3{
   font-size: 1.4rem;
}

h4{
   font-size: 1.2rem;
}

h5{
   font-size: 1rem;
}

h6{
   font-size: .8rem;
}
body{
  font-size: .8rem;
}






    .navbar-brand img {
        width: 110px;
    }
    .navbar-nav-profile .profile-avata {
        width: 30px;
        height: 30px;
    }
    .navbar-nav-profile .alert-icon, .navbar-nav-profile .search-icon {
        width: 12px;
    }
.header-navbar{
.navbar-nav-profile {
  .search-icon,
  .alert-icon {
    width: 12px;
  }

  .profile-avata {
    width: 30px;
    height: 30px;
  }
}
}

}