<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Charges</title>
</head>
<body>
<h3>Open Charges / Borrowings</h3>
<table style="width:100%">
  <tr>
    <th>Charge Holder Name</th>
    <th>Amount</th>
    <th>Outstanding Years</th>
    <th>Creation Date</th>
    <th>Last Modification Date</th>
  </tr>
    {% for x in ls %}
      <tr>
        <td>{{x.chargeholdername}}</td>
        <td>{{x.amount|floatformat:"0"}}</td>
        <td>{{x.chrsatisfactiondare|date:"M d, Y"}}</td>
        <td>{{x.chrcreationdate|date:"M d, Y"}}</td>
        <td>{{x.chrmodificatondate|date:"M d, Y"}}</td>
      </tr>
    {%endfor%}
</table>
</body>
</html>