.search-form{
	max-width: 900px;
	margin: auto;
	input{
       border-radius: $border-radius-lg !important;
       background-color:$white;
       border-color:$white;
       margin-right:10px;
       padding:15px 30px;
	}
	button{
		 border-radius: $border-radius-lg !important;
		 padding: 15px 60px;
	}
}
.advance-search-navbar{
	li{
		a{
			padding:10px 60px;
		}
	}
}
.reset-btn{
	position: absolute;
	top: -60px;
}
.filters-more-show{
	width: 200px;
	[aria-expanded="false"] .less{
		display: none;
	}
	[aria-expanded="true"] .more{
		display: none;
	}
}
.search-form-full{
   max-width: calc(100% - 15px);
   margin-left: 0;
   input{
   	  max-width: 500px;
   }
}